footer {
	color: $white;
	text-align: center;
	div {
		position: relative;
		z-index: 2;
	}
	.footer-logo {
		> img {
			margin: 0 auto;
			width: 150px;
		}
	}
	ul.media {
		margin-top: 20px;
	}
	section.footer {
		padding: ($pad*8) ($pad*2);
	}
	p {
		@extend .smalltext;
		margin-bottom: 0px;
		a {
			border-bottom: none !important;
			&:hover {
				opacity: .9;
				background: none !important;
			}
		}
	}

	nav.footer {
		list-style: none;
		padding: ($pad*2) 0px;
		li { display: inline-block; }
		a {
			@extend .smallcaps;
			padding: 0px ($pad);
			color: $white;
			opacity: 1;
			&:hover { opacity: .8; }
		}
	}
}
