// Units
$pad  : 8px;

// Page Wide Variables
$gutter           :   $pad*4;
$page             :   $pad*125;     // max width of any page
$borders          :   4px;          // border radious
$blog             :   $pad*90;     // width of the blog
$onecol           :   $pad*75;      // a single column of text
$twocol           :   $pad*100;     // two columns of text
$threecol         :   $pad*150;     // three columns of text


// Menu Variables
$menu_width       : ($pad*32);
$menu_height      : 52px;

// Fonts
$font_caps    : "sofia-pro",sans-serif;
$font_display : "le-monde-livre-std",serif;
$font_body    : "sofia-pro",sans-serif;

// Palette
$white  : #ffffff;
$muted  : #646172;
$black  : #4a4949;
$red    : #bf542a;
$green  : #45584c;
$blue   : #274080;
$yellow : #ffaf45;
$teal   : #439996;
$gray   : #f7f7f7;
$orange : #8f5030;


$gray_hover  : darken($gray, 5%);
$gray_dark   : darken($gray, 10%);
$black_hover : lighten($black, 5%);
$black_dark  : darken($black, 5%);

// Colors
$primary     : $green;
$secondary   : $orange;
$text        : #808080;
$text_mute   : lighten($text, 15%);
$text_light  : lighten($text, 30%);

// Color Assign
$button         : $primary;


// Text Sizes
$h1    : 60px;
$h2    : 36px;
$h3    : 22px;
$h4    : 36px;
$h5    : 26px;
$h6    : 14px;
$p     : 18px;
$small : 14px;
$caps  : 12px;

// Class Variables
$gradient_start  : rgba(0,0,0,0);
$gradient_middle : rgba(0,0,0,.4);
$gradient_end    : rgba(0,0,0,.8);


// Important
.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after { clear: both; }
}
